.header {
  display: flex;
  height: 12.4rem;
  align-items: center;
  background-color: white;
  padding: 0 var(--body-padding);
  border: 1px solid rgba(195, 212, 233, 0.4);

  .search {
    & input {
      border: none;
      background: none;

      width: 80%;
      margin-right: auto;

      &:focus {
        outline: none;
      }
    }

    & :first-child {
      margin-right: 2rem;
    }

    width: 50rem;
    display: flex;
    margin-right: auto;
    border-radius: 7rem;
    margin-left: 6.4rem;
    align-items: center;
    padding: 1.2rem 2.4rem;
    border: 1px solid rgba(195, 212, 233, 0.4);
  }

  .activities {
    display: flex;
    justify-content: space-between;

    & button {
      width: 4.4rem;
      height: 4.4rem;
      background: none;
      border: none;
      border: 1px solid rgba(195, 212, 233, 0.4);
      border-radius: 50%;
      overflow: hidden;
    }

    & :not(:last-child) {
      margin-right: 2rem;
    }
  }
}
