.admin__container {
  display: flex;
}

.admin__aside {
  width: 100%;
  height: 100%;
  padding: 3.2rem;
  /* max-width: 20vw; */
  max-width: 28rem;
  background-color: var(--color-primary-0);
}

main.admin {
  width: 100%;
  gap: 3.2rem;
  display: grid;
  padding-left: 3.2rem;
  padding-right: 3.2rem;
  grid-template-columns: repeat(2, 1fr);
}

.admin__section {
  max-width: 100%;
  overflow-x: hidden;
}

.admin__section-left {
  padding: 2.4rem;
  border-radius: 10px;
  background-color: var(--color-primary-0);
}

.admin__section-heading {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -0.6px;
  color: var(--color-secondary-500);
}

.admin__section-header {
  margin-bottom: 2.4rem;
}

.admin__aside-header {
  margin-bottom: 2.4rem;
}

.admin__aside-heading {
  font-weight: 600;
  font-size: 1.2rem;
  text-align: justify;
  margin-bottom: 2.4rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: var(--color-secondary-300);
}

ul.admin__aside-links {
  &:not(:last-of-type) {
    margin-bottom: 6rem;
  }

  & li {
    display: flex;
    height: 5.6rem;
    padding: 1.6rem;
    list-style: none;
    font-weight: 500;
    font-size: 1.6rem;
    margin-bottom: 8px;
    align-items: center;
    color: var(--color-secondary-300);

    & :first-child {
      margin-right: 1.2rem;
    }

    &.admin__aside-link-active {
      border-radius: 10px;
      color: var(--color-primary-0);
      background-color: var(--color-primary-500);
    }
  }
}

.admin__section-car {
  display: flex;
  margin-right: 1.6rem;
  margin-bottom: 3.2rem;
}

.admin__section-car-image {
  display: flex;
  width: 13.2rem;
  height: 7.2rem;
  border-radius: 10px;
  margin-right: 1.6rem;
  background-repeat: no-repeat;
  background-color: var(--color-primary-500);
  background-image: url("../../assets/chevrons.svg");

  & img {
    width: 100%;
    object-fit: contain;
  }
}

.admin__section-car-details {
  margin-right: auto;
}

.admin__section-car-name {
  font-weight: 700;
  font-size: 2.4rem;
  margin-bottom: 8px;
  letter-spacing: -0.72px;
}

.admin__section-car-type {
  color: #3d5278;
  font-weight: 500;
  font-size: 1.4rem;
  letter-spacing: -0.28px;
}

.admin__section-car-number {
  font-size: 1.4rem;
  font-weight: 500;
  color: #3d5278;
}

.admin__section-map {
  margin-bottom: 3.2rem;
}

.admin__section-rental {
  & .datepicker {
    width: 100%;
    padding-left: 0;
    padding-right: 0;

    & .datepicker__hero {
      margin-bottom: 2rem;
    }
  }
}

.admin__section-details-rental {
  margin: 3.2rem 0;
  border-color: #c3d4e966;
}

.admin__section-info {
  padding: 2.4rem;
  border-radius: 10px;
  background-color: var(--color-primary-0);

  & > :first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.admin__section-info-details {
  display: flex;
  align-items: center;
}

.admin__section-transactions {
  & > :not(:last-child) {
    position: relative;
    /* background-color: var(--background-color); */
    margin-bottom: 1.6rem;

    &::after {
      content: "";
      width: 100%;
      height: 1px;
      position: absolute;
      bottom: -1.2rem;
      border: 1px solid rgba(195, 212, 233, 0.4);
    }
  }
}

.admin__info-donut {
  width: 22rem;
  height: 22rem;
  position: relative;
  margin-right: 2.4rem;
}

.admin__info-donut-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.admin__info-donut-count {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 8px;
  letter-spacing: -0.72px;
  color: var(--color-secondary-500);
}

.admin__info-donut-details {
  font-weight: 500;
  font-size: 1.2rem;
  letter-spacing: -0.28px;
  color: var(--color-secondary-300);
}

.admin__section-info-list {
  width: 100%;

  & > :not(:last-child) {
    margin-bottom: 2.4rem;
  }

  & li {
    display: flex;
    font-weight: 600;
    font-size: 1.4rem;
    align-items: center;
    letter-spacing: -0.28px;

    & p {
      color: var(--color-secondary-300);
    }

    & span {
      color: var(--color-secondary-500);
    }

    & :first-child {
      width: 1.2rem;
      height: 1.2rem;
      border-radius: 50%;
      margin-right: 1.2rem;
    }

    & :last-child {
      margin-left: auto;
    }
  }
}
